
@media (min-width: 1400px) {
    .resume {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "name photo"
            "nav nav"
            "about work"
            "skills work"
            "education work"
            "community-service work"
            "references references"
            "footer footer";
        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 35%);
        padding: 2rem;
        background-color: #FFF;
        margin: 1rem;
    }
}

@media (min-width: 1200px) and (max-width:1400px) {
    .resume {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name photo"
            "nav nav"
            "about work"
            "skills work"
            "education work"
            "community-service work"
            "references references"
            "footer footer";
        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 35%);
        padding: 2rem;
        background-color: #FFF;
        margin: 1rem;
    }
}

@media (min-width: 800px) and (max-width:1200px) {
    .resume {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name photo"
            "nav nav"
            "about about"
            "work work"
            "education education"
            "skills skills"
            "community-service community-service"
            "references references"
            "footer footer";
        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 35%);
        padding: 2rem;
        background-color: #FFF;
        margin: 1rem;
    }
    .work-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .work-items div {
        width: 50%;
    }
}

@media (min-width: 0px) and (max-width:1000px) {
    .work-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .work-items div {
        width: 100%;
    }
}


@media (min-width: 0px) and (max-width:800px) {
    .resume {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "photo"
            "nav"
            "about"
            "work"
            "education"
            "skills"
            "community-service"
            "references"
            "footer";
        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 35%);
        padding: 2rem;
        background-color: #FFF;
        margin: 1rem;
    }
}

body{
    background-color: #7700FF;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    margin: 0; 
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    background-color: white;
}

nav{
    grid-template-columns: repeat(6, 1fr); 
    grid-area: nav;
    display: grid;
}

nav a {
    background-color: #333;
    color:#FFF; 
    margin: 0 10px 10px 0;
    text-align: center;
    padding: 5px;
}
.skills {
    grid-area: skills;
}
.education{
   grid-area: education; 
}
.community-service{
    grid-area: community-service;
}

.reference {
    grid-area: references;
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}
.about {
    grid-area: about;
}
.work{
    grid-area: work;
}
p, h2, h3, h4, h1, a {
    font-family: "Roboto";
}