.head-bar{
    grid-template-columns: 2fr 4fr 2fr;   
    display: grid;
    align-items: center;
    padding: 0 1%;
}
.icons {
    grid-area: auto;
}
.icons a {
    display: inline-block;
    padding: 2%;  
}
.search {
    grid-area: auto;
    border: 2px solid #333;
    border-radius: 5px;
    border-color: #333;
    display: flex;
    padding: 0.125rem;
}
.search-icon {
    width: 10px;
  
}
.icons img {
    width: 20px;
}
.cart img {
    width: 20px;
}
.search-bar {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%; 
}
.cart {
    grid-area: auto; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.svg-logo {
    width: 500px;
    margin:auto;
}
.page-sub-header {
    text-align: center;
}
.main-form {
    display: grid;
    margin-bottom:20px;
    grid-gap: 1%;
    grid-template-areas:
    'first-name last-name'
    'email email'
    'comments comments'
    'privacy privacy'
    'submit submti';
}
.footer-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.copyright, .address {
    display: flex;
    justify-content: center;
}
main {
    max-width: 600px;
    margin: auto;
}
.main-form input, .main-form textarea {
    width: 100%;
}
.main-form input[type=checkbox] {
    width: fit-content;
}
.main-form input[type=submit], .main-form input[type=reset] {
    width: 40%;
}
.main-form textarea {
    height: 4rem;
}
fieldset {
    border: none;
}
.first-name {
    grid-area: first-name;
}
.last-name {
    grid-area: last-name;
}
.email {
    grid-area: email;
}
.comments {
    grid-area: comments;
}
.privacy {
    grid-area: privacy;
}
.submit-reset {
    grid-area: submit
}